# Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset

In [2]:
train_df = pd.read_csv(r"C:\Users\SHAMIM KHALED\jr-ml-engineer\train.csv", index_col='Id')

In [3]:
train_df.head()

    col4  col6 col9        col1  col8  col3  col7        y
Id
1   2107   5.0   B0  2014-03-10   3.0    A0     2  1300000
2   2106   4.0   B0  2017-11-20   2.0  A453     2  2250000
3   2110   5.0   B0  2017-02-20   2.0  A371     4  3800000
4   2048   3.0   B0  2012-01-31   2.0  A508     1   790000
5   2146   2.0   B1  2017-07-04   1.0  A548     2   615000

In [4]:
train_df.tail()

        col4  col6 col9        col1  col8  col3  col7        y
Id
139648  2209   2.0   B0  2015-03-30   2.0  A386     1   737000
139649  2160   4.0   B0  2015-04-11   2.0  A317     2   854000
139650  2228   3.0   B0  2014-07-24   2.0  A432     1   920000
139651  2211   3.0   B0  2017-07-01   1.0  A480     1  1276000
139652  2042   2.0   B0  2018-02-10   NaN  A392     1  1290000

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139652 entries, 1 to 139652
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   col4    139652 non-null  int64
 1   col6    139546 non-null  float64
 2   col9    139652 non-null  object
 3   col1    139652 non-null  object
 4   col8    126896 non-null  float64
 5   col3    139652 non-null  object
 6   col7    139652 non-null  int64
 7   y       139652 non-null  int64
dtypes: float64(2), int64(3), object(3)
memory usage: 9.6+ MB

In [6]:
train_df.isnull().sum()

col4        0
col6      106
col9        0
col1        0
col8    12756
col3        0
col7        0
y           0
dtype: int64

# Handle the missing value

In [7]:
# train_df['col6'] = train_df['col6'].fillna(value='NaN', )
# train_df['col8'] = train_df['col8'].fillna(value='NaN')

In [8]:
train_df['col6'] = train_df['col6'].fillna(value=2)
train_df['col8'] = train_df['col8'].fillna(value=2)

In [9]:
new_train_df = train_df

In [10]:
new_train_df = new_train_df.drop(columns='col1')

In [11]:
new_train_df.isnull().sum()

col4    0
col6    0
col9    0
col8    0
col3    0
col7    0
y       0
dtype: int64

In [12]:
new_train_df.describe()

,col4,col6,col8,col7,y
count,139652.000000,139652.000000,139652.000000,139652.000000,1.396520e+05
mean,2196.512989,3.514071,1.938404,1.889167,1.242592e+06
std,192.863837,1.069950,0.997796,0.938204,1.028745e+06
min,2000.000000,1.000000,1.000000,1.000000,1.000000e+00
25%,2082.000000,3.000000,1.000000,1.000000,7.200000e+05
50%,2145.000000,3.000000,2.000000,2.000000,9.850000e+05
75%,2211.000000,4.000000,2.000000,2.000000,1.470000e+06
max,4878.000000,99.000000,30.000000,99.000000,1.000500e+08

# Convert the categorical value into numeric value

In [13]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
new_train_df['col9'] = label_encoder.fit_transform(new_train_df['col9'])
new_train_df['col3'] = label_encoder.fit_transform(new_train_df['col3'])

In [14]:
new_train_df

        col4  col6  col9  col8  col3  col7        y
Id
1       2107   5.0     0   3.0     0     2  1300000
2       2106   4.0     0   2.0   392     2  2250000
3       2110   5.0     0   2.0   302     4  3800000
4       2048   3.0     0   2.0   449     1   790000
5       2146   2.0     1   1.0   493     2   615000
...      ...   ...   ...   ...   ...   ...      ...
139648  2209   2.0     0   2.0   318     1   737000
139649  2160   4.0     0   2.0   243     2   854000
139650  2228   3.0     0   2.0   369     1   920000
139651  2211   3.0     0   1.0   419     1  1276000
139652  2042   2.0     0   2.0   325     1  1290000

[139652 rows x 7 columns]

In [15]:
new_train_df.describe()

,col4,col6,col9,col8,col3,col7,y
count,139652.000000,139652.000000,139652.000000,139652.000000,139652.000000,139652.000000,1.396520e+05
mean,2196.512989,3.514071,0.273465,1.938404,327.587983,1.889167,1.242592e+06
std,192.863837,1.069950,0.777557,0.997796,191.147671,0.938204,1.028745e+06
min,2000.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000e+00
25%,2082.000000,3.000000,0.000000,1.000000,166.000000,1.000000,7.200000e+05
50%,2145.000000,3.000000,0.000000,2.000000,324.000000,2.000000,9.850000e+05
75%,2211.000000,4.000000,0.000000,2.000000,491.000000,2.000000,1.470000e+06
max,4878.000000,99.000000,7.000000,30.000000,673.000000,99.000000,1.000500e+08

In [16]:
new_train_df.corr()

          col4      col6      col9      col8      col3      col7         y
col4  1.000000  0.033207 -0.020165  0.024137  0.075454 -0.091309 -0.284167
col6  0.033207  1.000000 -0.192124  0.310141  0.002446  0.623613  0.298384
col9 -0.020165 -0.192124  1.000000 -0.119723  0.034262 -0.059457 -0.115362
col8  0.024137  0.310141 -0.119723  1.000000 -0.023278  0.290208  0.193333
col3  0.075454  0.002446  0.034262 -0.023278  1.000000 -0.004456 -0.015388
col7 -0.091309  0.623613 -0.059457  0.290208 -0.004456  1.000000  0.394397
y    -0.284167  0.298384 -0.115362  0.193333 -0.015388  0.394397  1.000000

In [17]:
new_train_df['y'].value_counts()

y
1200000    1190
1100000    1162
1300000    1078
850000      927
900000      915
           ...
1175683       1
4160000       1
917349        1
827925        1
4408000       1
Name: count, Length: 7032, dtype: int64

In [ ]:
# sns.countplot(new_train_df['y'], y='count')
# plt.show()

In [18]:
new_train_df.shape

(139652, 7)

# Train, test split

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [20]:
x = new_train_df.drop(columns='y')
y = new_train_df['y']

In [21]:
x

        col4  col6  col9  col8  col3  col7
Id
1       2107   5.0     0   3.0     0     2
2       2106   4.0     0   2.0   392     2
3       2110   5.0     0   2.0   302     4
4       2048   3.0     0   2.0   449     1
5       2146   2.0     1   1.0   493     2
...      ...   ...   ...   ...   ...   ...
139648  2209   2.0     0   2.0   318     1
139649  2160   4.0     0   2.0   243     2
139650  2228   3.0     0   2.0   369     1
139651  2211   3.0     0   1.0   419     1
139652  2042   2.0     0   2.0   325     1

[139652 rows x 6 columns]

In [22]:
x.shape

(139652, 6)

In [23]:
y.shape

(139652,)

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [25]:
x_train.shape

(111721, 6)

In [26]:
x_test.shape

(27931, 6)

In [27]:
y_train.shape

(111721,)

# Normalize the data

In [28]:
scaler = StandardScaler()
scaled_xtrain = scaler.fit_transform(x_train)
scaled_xtest = scaler.fit_transform(x_test)

# RandomForestRegressor Model

In [29]:
from sklearn.ensemble import RandomForestRegressor
rfcl_regressor = RandomForestRegressor(n_estimators=100, random_state=42)
rfcl_regressor.fit(scaled_xtrain, y_train)
y_pred = rfcl_regressor.predict(x_test)
print('MSE: '+str(mean_squared_error(y_test, y_pred)))

C:\Users\SHAMIM KHALED\anaconda3\Lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

MSE: 1279073928765.424

## Support Vector Regressor Model

In [ ]:
# from sklearn.svm import SVR
# svr = SVR()
# svr.fit(scaled_xtrain, y_train)
# y_pred = svr.predict(x_test)
# print('MSE: '+str(mean_squared_error(y_test, y_pred)))

# Make Prediction on test dataset

In [30]:
test_df = pd.read_csv(r"C:\Users\SHAMIM KHALED\jr-ml-engineer\test.csv", index_col='Id')

In [31]:
test_df

        col4  col6 col9        col1  col8  col3  col7
Id
139653  2228   6.0   B0  2017-04-01   1.0  A433     3
139654  2190   2.0   B0  2010-09-18   1.0  A601     1
139655  2035   3.0   B0  2016-10-25   2.0  A220     1
139656  2035   3.0   B0  2019-04-18   2.0  A220     2
139657  2117   4.0   B0  2014-10-02   1.0  A447     1
...      ...   ...  ...         ...   ...   ...   ...
199500  2230   5.0   B0  2017-05-05   2.0   A44     3
199501  2069   5.0   B0  2013-10-04   4.0  A537     2
199502  2142   5.0   B0  2015-11-28   4.0  A132     4
199503  2112   3.0   B0  2017-09-01   2.0  A196     1
199504  2168   3.0   B0  2015-12-07   2.0  A629     1

[59852 rows x 7 columns]

In [32]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59852 entries, 139653 to 199504
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col4    59852 non-null  int64
 1   col6    59804 non-null  float64
 2   col9    59852 non-null  object
 3   col1    59852 non-null  object
 4   col8    54457 non-null  float64
 5   col3    59852 non-null  object
 6   col7    59852 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 3.7+ MB

In [33]:
test_df.isnull().sum()

col4       0
col6      48
col9       0
col1       0
col8    5395
col3       0
col7       0
dtype: int64

In [34]:
test_df['col6'] = test_df['col6'].fillna(value=2)
test_df['col8'] = test_df['col8'].fillna(value=2)

In [35]:
test_df.isnull().sum()

col4    0
col6    0
col9    0
col1    0
col8    0
col3    0
col7    0
dtype: int64

In [36]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
test_df['col9'] = label_encoder.fit_transform(test_df['col9'])
test_df['col3'] = label_encoder.fit_transform(test_df['col3'])

In [37]:
test_df

        col4  col6  col9        col1  col8  col3  col7
Id
139653  2228   6.0     0  2017-04-01   1.0   359     3
139654  2190   2.0     0  2010-09-18   1.0   535     1
139655  2035   3.0     0  2016-10-25   2.0   128     1
139656  2035   3.0     0  2019-04-18   2.0   128     2
139657  2117   4.0     0  2014-10-02   1.0   374     1
...      ...   ...   ...         ...   ...   ...   ...
199500  2230   5.0     0  2017-05-05   2.0   366     3
199501  2069   5.0     0  2013-10-04   4.0   470     2
199502  2142   5.0     0  2015-11-28   4.0    36     4
199503  2112   3.0     0  2017-09-01   2.0   103     1
199504  2168   3.0     0  2015-12-07   2.0   565     1

[59852 rows x 7 columns]

In [38]:
new_test_df = test_df.drop(columns='col1')

In [41]:
index_column = test_df.index

In [42]:
scaler = StandardScaler()
scaled_test_df = scaler.fit_transform(new_test_df)

In [44]:
rfcl_y_predict_test = rfcl_regressor.predict(scaled_test_df)
rfcl_y_predict_test

array([1180134.67261905,  746731.23880139, 1406994.65527002, ...,
        956325.        , 1051431.1703941 ,  648912.97565751])

In [45]:
predict_y_column = pd.DataFrame({ 'Id': index_column, 'y': rfcl_y_predict_test })
predict_y_column.to_csv('shamim_khaled.csv', index=False)
rfcl_predict_y = pd.read_csv('shamim_khaled.csv')
rfcl_predict_y

           Id             y
0      139653  1.180135e+06
1      139654  7.467312e+05
2      139655  1.406995e+06
3      139656  1.531959e+06
4      139657  1.136183e+06
...       ...           ...
59847  199500  1.894879e+06
59848  199501  2.142732e+06
59849  199502  9.563250e+05
59850  199503  1.051431e+06
59851  199504  6.489130e+05

[59852 rows x 2 columns]